<script lang="ts">
  import {onDestroy, onMount} from 'svelte'
  import Template from '../components/Template.svelte'
  import {data, actions} from '../../store'
  import {msToDate, dateToMs} from '../../utils'
  import {zoom, ZoomBehavior, zoomIdentity} from 'd3-zoom'
  import {selectAll} from 'd3-selection'
  let zoomer: ZoomBehavior<any, any>

  const minDate = dateToMs('1951-06-01')
  const maxDate = dateToMs('1952-12-31')
  let selectedDate = minDate

  $: formattedDate = msToDate(selectedDate).toLocaleString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
  })
  onMount(() => {
    actions.startBombs(0)
    zoomer = zoom()
      .scaleExtent([1, 8])
      .translateExtent([
        [0, 0],
        [window.innerWidth, window.innerHeight]
      ])
      .on('zoom', ({transform}) => {
        data.transform = transform
        data.forceRedraw = true
      })
    selectAll('canvas').style('cursor', 'grab').call(zoomer)
  })

  onDestroy(() => {
    actions.clearBombs()

    selectAll('canvas')
      .style('cursor', 'unset')
      .transition()
      .duration(400)
      .call(zoomer.transform, zoomIdentity)
  })
  function goToDate(newTime: number) {
    actions.stopBombs()
    data.bombs.forEach((bomb) => {
      bomb.finished = false
    })
    data.forceRedraw = true
    actions.animate(newTime)
    data.forceRedraw = false
    actions.startBombs(newTime)
  }

  function restart() {
    data.bombs.forEach((bomb) => {
      bomb.finished = false
    })
    actions.startBombs()
  }
</script>

<Template>
  <div id="explanation">
    <p>
      In contrast to the narrative section, this area will let the user
      interact with and explore the map in greater detail -- so far I've
      just put in some basic controls related to time, and
      zooming/dragging. Eventually I want to also put in names of cities
      and towns, as well as annotations about the bombs dropped (where,
      what division, what was the objective as noted in our dataset,).
    </p>
  </div>
  <div id="inputs">
    <div class="row" style="width: 100%;">
      <p style="width: fit-content;">
        <em>Selected date:</em> <span>{formattedDate}</span>
      </p>
      <button on:click={() => goToDate(selectedDate)}
        >play from date</button
      >
    </div>
    <input
      on:click={() => console.log('clicking')}
      bind:value={selectedDate}
      id="datePicker"
      type="range"
      min={minDate}
      max={maxDate}
    />
    <div class="row" style="width: 60%;">
      <button on:click={actions.clearCanvas}>clear map</button>
      <button on:click={() => actions.startBombs()}>start</button>
      <button on:click={actions.stopBombs}>stop</button>
    </div>
  </div>
  <div id="reporters" />
</Template>

<style>
  p {
    text-align: left;
  }
  #inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #datePicker {
    width: 80%;
    padding: 1rem;
    cursor: pointer;
  }

  button {
    height: fit-content;
    padding: 0.5rem;
    background-color: transparent;
    font-family: var(--body-font);
    border: 1px solid gray;
    cursor: pointer;
  }
</style>
