<script lang="ts">
  import AboutIndex from './About/index.svelte'
  import Narrative from './Narrative.svelte'
  import Explore from './Explore.svelte'
  import MenuItem from '../components/MenuItem.svelte'
  import Template from '../components/Template.svelte'
  import {slide} from 'svelte/transition'
  let showingAbout = false
  const menuItems = [
    {
      display: 'Begin',
      component: Narrative
    },
    {
      display: 'Explore',
      component: Explore
    },
    {
      display: '...',
      action: () => {
        showingAbout = !showingAbout
      }
    }
  ]
</script>

<Template showMapStatus={false}>
  <div id="intro">
    <h1>the bombing of korea</h1>
    {#if !showingAbout}
      <div id="container" transition:slide|local style="width: 100%;">
        <p>
          (this needs to be workshopped) Despite there existing a wealth of
          scholarship on the Korean War, its status as the "Forgotten War"
          still holds; the scale and longetivity of the violence involved,
          as well as the political motivations behind the war, have escaped
          the American public consciousness. This project aims to convey
          these two aspects by foucsing on the U.S. bombings of Korea
          during the Korean War.
        </p>
        <p>
          Click "begin" to be taken through the exhibition with our
          narrative of the War. Click "explore" to interact with the map
          itself. Click the final button for more information on this
          project.
        </p>
        {#each menuItems as item}
          <MenuItem options={item} />
        {/each}
      </div>
    {:else}
      <AboutIndex
        goBack={() => {
          showingAbout = false
        }}
      />
    {/if}
  </div>
</Template>

<style>

  p {
    text-align: left;
  }
  
  #intro {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  #container {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
</style>
