<script lang="ts">
  import Template from '../components/Template.svelte'
  import { actions } from '../../store'
  import { onDestroy, onMount } from 'svelte'

  onMount(() => actions.startBombs(0))
  onDestroy(actions.clearBombs)
</script>

<Template>
  <p>
    a narrative will eventually go here -- as opposed to the explore
    option, this is where we can focus on explicitly telling a story. How
    the war began, how the war didn't end, the scale and extent of the
    bombing, the motivations behind the US invasion,...
  </p>

  <p>
    the map animation will play on this page without any interactivity, so
    the user can't zoom, change the date represented, or anything like
    that. The idea being that the steady progression of the map would
    hopefully convey the extent and unending-ness of the bombings during
    the war, and more generally about the unending nature of the war
    itself.
  </p>
</Template>

<style>
  p {
    text-align: left;
  }
</style>
