<script lang="ts">
  import {timer as d3Timer} from 'd3-timer'
  import {onMount} from 'svelte'
  import {msToDate, dayLength} from '../utils'
  import {data, state, actions} from '../store'
  import Router from './components/Router.svelte'
  import Intro from './pages/Intro.svelte'
  import paintBombs from '../Map/paintBombs'
  
  export let canvases: HTMLCanvasElement[]

  let response: Response // use this for the loading time thing
  let lastTime = 0
  /** animates a single frame of the map */
  function animate(elapsed: number) {
    if (elapsed - dayLength >= lastTime) {
      state.update((prev) => {
        prev.tons = data.tons
        prev.day = msToDate(elapsed)
        return prev
      })
      lastTime = elapsed
    }
    paintBombs(
      canvases.map((canvas) => canvas.getContext('2d')),
      elapsed,
      data.bombs
    )
  }

  let timer = d3Timer(animate)
  timer.stop()
  actions.animate = animate
  actions.startBombs = (offset = lastTime) => {
    lastTime = offset
    timer.restart((elapsed) => animate(elapsed + offset))
  }
  actions.stopBombs = () => {
    timer.stop()
  }
  actions.clearCanvas = () => {
    canvases.forEach((canvas) => {
      const context = canvas.getContext('2d')
      context.clearRect(0, 0, window.innerWidth, window.innerHeight)
    })
  }
  actions.clearBombs = () => {
    const fadeTimer = d3Timer((elapsed) => {
      canvases.forEach((canvas) => {
        canvas.style.opacity = ((1000 - elapsed) / 1000).toString()
      })

      if (elapsed > 1000) {
        actions.stopBombs()
        canvases.forEach((canvas) => {
          const context = canvas.getContext('2d')
          context.clearRect(0, 0, window.innerWidth, window.innerHeight)
          canvas.style.opacity = '1'
        })
        fadeTimer.stop()
      }
    })
    data.bombs.forEach((bomb) => {
      bomb.finished = false
    })
  }

  onMount(async () => {
    response = await fetch('/bombs.json')
    data.bombs = await response.json()
    timer = d3Timer(actions.startBombs)
    timer.stop()
  })
</script>

<div id="story">
  <Router page={Intro} />
</div>

<style>

  #story {
    background: var(--white);
    box-shadow: var(--shadow);
    box-sizing: border-box;
    text-align: center;
    pointer-events: all;
    min-width: min(60ch, 100%);
    flex: 1;
  }
</style>
