<script lang="ts">
  import MenuItem from '../../components/MenuItem.svelte'
  import { slide } from 'svelte/transition'

  export let goBack: Function

  const menuItems = [
    { display: 'About' },
    { display: 'Implementation Notes' },
    { display: 'Further reading' },
    { display: 'Contact' },
    { display: 'Back', action: goBack },
  ]
</script>

<div transition:slide|local id="container">
  {#each menuItems as item}
    <MenuItem options={item} />
  {/each}
</div>

<style>
  #container {
    width: 60%;
    display: flex;
    flex-direction: column;
    place-items: center;
  }
</style>
