<script lang="ts">
  import type { SvelteComponent } from 'svelte/internal'
  import { router } from '../components/Router.svelte'
  interface MenuItemOptions {
    display: string
    component?: SvelteComponent
    action?: Function
  }
  export let options: MenuItemOptions

  function onClick() {
    if (options.action) options.action()
    if (!options.component) return
    router.goTo(options.component)
  }
</script>

<main on:click={onClick}>
  <p>{options.display}</p>
</main>

<style>
  main {
    position: relative;
    width: 80%;
    height: 2rem;
    border: solid 0.5px var(--gray);
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    padding: 0;
    margin: 0;
  }
  main::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: var(--gray);
    transition: all ease-in-out 0.2s;
  }

  main:hover::after {
    width: 100%;
  }
</style>
