<script context="module" lang="ts">
  export const router = {
    history: [],
    currentIndex: 0,
    goForward() {
      if (!this.goTo) return
      const nextIndex = Math.min(this.currentIndex + 1, history.length - 1)
      this.goTo(this.history[nextIndex], false)
      this.currentIndex = nextIndex
    },
    goBack() {
      if (!this.goTo) return
      const prevIndex = Math.max(this.currentIndex - 1, 0)
      this.goTo(this.history[prevIndex], false)
      this.currentIndex = prevIndex
    },
    goTo: undefined as Function
  }
</script>

<script lang="ts">
  import {onMount, SvelteComponentDev} from 'svelte/internal'
  export let page: SvelteComponentDev
  // there's probably a way to do it all in the module section
  // but i cant be bothered at this point
  function goTo(newPage: SvelteComponentDev, shouldUpdateHistory = true) {
    if (shouldUpdateHistory) {
      router.currentIndex += 1
      router.history.splice(router.currentIndex)
      router.history.push(newPage)
    }
    page = newPage
  }
  onMount(() => {
    router.goTo = goTo
    router.history.push(page)
  })
</script>

<svelte:component this={page} />
