<script lang="ts">
  import {onDestroy} from 'svelte'
  import {fade} from 'svelte/transition'
  import {state} from '../../store'
  import {router} from './Router.svelte'

  export let showMapStatus = true
  let day: string
  let tons: string
  const unsubscribe = state.subscribe((current) => {
    if (!current.day) return
    day = current.day.toLocaleString('en-US', {
      year: 'numeric',
      month: 'long',
      day: 'numeric'
    })

    tons = current.tons.toFixed(1)
  })
  onDestroy(() => {
    unsubscribe()
    state.set({day: undefined, tons: 0})
  })
</script>

<div class="container" in:fade={{delay: 300, duration: 200}} out:fade={{duration: 200}}>
  {#if router.history.length > 0}
    <div id="header">
      {#if router.currentIndex === 0}
        <div />
      {:else}
        <div class="nav" on:click={() => router.goBack()}>back</div>
      {/if}
      {#if router.currentIndex === router.history.length - 1}
        <div />
      {:else}
        <div class="nav" on:click={() => router.goForward()}>forward</div>
      {/if}
    </div>
  {:else}
    <div class="spacer" />
  {/if}
  <div id="content">
    <slot />
  </div>
  {#if showMapStatus}
    <div id="footer">
      <div>
        <br />
        <em>On the map:</em>
        {day}; {#if typeof tons !== 'undefined'}{tons} tons dropped. {/if}
      </div>
    </div>
  {:else}
    <div class="spacer" />
  {/if}
</div>

<style>
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #header,
  #footer,
  .spacer {
    height: 10%;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  #header::after,
  #footer::before {
    content: '';
    width: 80%;
    height: 1px;
    position: absolute;
    bottom: 10%;
    left: 10%;
    background-color: lightgray;
  }
  #footer::before {
    bottom: 90%;
  }

  #footer {
    justify-content: center;
  }
  .nav {
    height: fit-content;
    margin: 1.5rem;
    cursor: pointer;
    position: relative;
  }

  .nav::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: gray;
    transition: all ease-in-out 0.2s;
  }
  .nav:hover::after {
    width: 100%;
  }

  #content {
    flex: 1;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
