<script lang="ts">
  import {onMount} from 'svelte'
  import {timer} from 'd3-timer'
  import {drawLand, updateProjection} from './Map/render'
  import streamData, {parseTopo} from './stream'
  import {palette} from './utils'
  import Sidebar from './Sidebar/Sidebar.svelte'
  import {data} from './store'
  import {zoomIdentity} from 'd3-zoom'

  let canvases: HTMLCanvasElement[] = []
  let container: HTMLElement
  $: contexts = canvases.map((canvas) => canvas.getContext('2d'))

  onMount(() => {
    // writes colors as CSS variables to the top-level DOM element
    // so they can be accessed in CSS anywhere in the app
    Object.entries(palette).map(([key, value]) => {
      if (typeof value !== 'string') return
      document.documentElement.style.setProperty(`--${key}`, value)
    })
  })
  
  let width: number
  let height: number

  onMount(async () => {
    data.transform = zoomIdentity

    let lastTime = 0
    const land = timer(() => {})

    const ro = new ResizeObserver(() => {
      land.stop()
      width = container.offsetWidth
      height = container.offsetHeight
      updateProjection(width, height)

      data.borders.features.forEach((topo, i, arr) => {
        arr[i] = parseTopo(topo)
      })
      data.topography.forEach((topo, i, arr) => {
        arr[i] = parseTopo(topo)
      })

      const offset = lastTime
      data.forceRedraw = true
      drawLand(contexts, offset, data, [width, height])
      land.restart((elapsed) => {
        lastTime = elapsed + offset
        drawLand(contexts, elapsed + offset, data, [width, height])
      })
  
      setTimeout(() => {data.forceRedraw = false}, 1000)
    })
    ro.observe(container)

    streamData('/borders.json', data.borders.features)
    streamData('/topography.json', data.topography)
  })
</script>

<div class="container">
  <Sidebar canvases={canvases.slice(3, 5)} />
  <div id="map" bind:this={container}>
  {#each Array(5)
    .fill(undefined)
    .map((_, i) => i) as index}
    <canvas
      bind:this={canvases[index]}
        {width}
        {height}
    />
  {/each}
  </div>
</div>

<style>
  :global(html),
  :global(body),
  :global(#app) {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--body-font);
  }

  :global(:root) {
    --body-font: Lato, Montserrat, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
    --shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
      0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  }

  :global(p) {
    font-family: var(--body-font);
  }

  .container {
    width: 100%;
    height: max(100%, fit-content);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    overflow: auto;
  }

  #map {
    position: relative;
    min-width: 40ch;
    min-height: 100vh;
    flex: 1;
    overflow: hidden;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
</style>
